@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Articles</h1>

<a href="@Url.Action("Index", "User")">Modify User</a>
<br />
<a href="@Url.Action("Index", "Chart")">Chart</a>
<br />
<a href="@Url.Action("Logout", "Authentication")">Chart</a>